@include media-breakpoint-down(sm) {
	.xs-w-100 {
		width: 100%;
	}

	.display-4 {
	    font-size: 2.5rem;
	}
	.mb-4-sm {
		margin-bottom: 1.5rem !important;
	}

	.toggle-finder {
		width: 100%;
	}

	.step-icon {
	    width: 4rem !important;
	}

	.plans {
		.icons {
			margin-bottom: 1.5em !important; 
		}
		.description {
			margin: 0 !important;
		}
	}
}
@include media-breakpoint-down(md) {
	.plans {
		.cover {
			height: 250px;
		}

		.description {
			margin-right: 0 !important;
		}
	}
}
@include media-breakpoint-down(lg) {

}
@include media-breakpoint-down(xl) {

}