@import 'bootstrap';
@import 'node_modules/fullcalendar/dist/fullcalendar.min';
@import 'node_modules/trix/dist/trix';
@import 'node_modules/cropperjs/dist/cropper.min';
@import 'variables';
@import 'responsive';
@import 'components/calendar';
@import 'components/steps';
@import 'components/icons';
@import 'components/pagination';
@import 'components/loaders';
@import 'components/trix';
@import 'components/custom';

.nav-tabs .nav-link:not(.active) {
  opacity: .6;
}

.btn, .alert, .form-control, .card, .card-header, .modal-content, .modal-header {
	@extend .rounded-0;
}

.col-default {
	@extend .col-lg-8, .col-md-10, .col-12, .mx-auto;
}

.plans {
	.cover {
		@extend .col-lg-4, .col-12;
	}

	.description {
		@extend .mx-5;
	}
}

.price {
  &:before {
    content: 'R$';
    font-weight: bold;
    opacity: 0.6;
    font-size: .215em;
    vertical-align: top;
  }

  &:after {
    content: attr(data-label);
    font-size: .25em;
    vertical-align: initial;    
  }
}

#app {
  margin-left: 232px;
  margin-top: 63.23px;
}

.navbar.fixed-left {
  position:fixed;
  top:0;
  left:0;
  right:0;
}

@media (min-width:768px) {
  .navbar.fixed-left {
    bottom:0;
    width:232px;
    flex-flow:column nowrap;
    align-items:flex-start
  }
  .navbar.fixed-left .navbar-collapse {
    flex-grow:0;
    flex-direction:column;
    width:100%
  }
  .navbar.fixed-left .navbar-collapse .navbar-nav {
    flex-direction:column;
    width:100%
  }
  .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item {
    width:100%
  }
  .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
    top:0
  }
}
@media (min-width:768px) {
  .navbar.fixed-left {
    right:auto
  }
  .navbar.fixed-left .navbar-nav .nav-item .dropdown-toggle:after {
    border-top:.3em solid transparent;
    border-left:.3em solid;
    border-bottom:.3em solid transparent;
    border-right:none;
    vertical-align:baseline
  }
  .navbar.fixed-left .navbar-nav .nav-item .dropdown-menu {
    left:100%
  }
}

.text-percentage:after {
  content: '%';
  margin-left: 2px;
  font-size: .6em;
}

.image-container { 
  canvas { 
    @extend .border;
    width: 100% !important;
  }
}